{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM",
    "protocol":"json"
  },
  "operations":{
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {
          "shape":"AssociationAlreadyExists",
          "error":{
            "code":"AssociationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AssociationLimitExceeded",
          "error":{
            "code":"AssociationLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"DuplicateInstanceId",
          "error":{
            "code":"DuplicateInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AssociationLimitExceeded",
          "error":{
            "code":"AssociationLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {
          "shape":"DocumentAlreadyExists",
          "error":{
            "code":"DocumentAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"MaxDocumentSizeExceeded",
          "error":{
            "code":"MaxDocumentSizeExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocumentContent",
          "error":{
            "code":"InvalidDocumentContent",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"DocumentLimitExceeded",
          "error":{
            "code":"DocumentLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TooManyUpdates",
          "error":{
            "code":"TooManyUpdates",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AssociatedInstances",
          "error":{
            "code":"AssociatedInstances",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"StatusUnchanged",
          "error":{
            "code":"StatusUnchanged",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TooManyUpdates",
          "error":{
            "code":"TooManyUpdates",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociatedInstances",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Date":{"shape":"DateTime"},
        "Status":{"shape":"AssociationStatus"}
      }
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{
        "shape":"AssociationDescription",
        "locationName":"AssociationDescription"
      }
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationDoesNotExist",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"AssociationFilterKey"},
        "value":{"shape":"AssociationFilterValue"}
      }
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{
        "shape":"AssociationFilter",
        "locationName":"AssociationFilter"
      },
      "min":1
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AssociationList":{
      "type":"list",
      "member":{
        "shape":"Association",
        "locationName":"Association"
      }
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{"shape":"DateTime"},
        "Name":{"shape":"AssociationStatusName"},
        "Message":{"shape":"StatusMessage"},
        "AdditionalInfo":{"shape":"StatusAdditionalInfo"}
      }
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "BatchErrorMessage":{"type":"string"},
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"CreateAssociationBatchRequestEntries"}
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{
        "shape":"CreateAssociationBatchRequestEntry",
        "locationName":"entries"
      }
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{"shape":"AssociationDescriptionList"},
        "Failed":{"shape":"FailedCreateAssociationList"}
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{"shape":"DocumentContent"},
        "Name":{"shape":"DocumentName"}
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{"shape":"DocumentDescription"}
      }
    },
    "DateTime":{"type":"timestamp"},
    "DeleteAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "DescribeAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "DescribeDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "DescribeDocumentResult":{
      "type":"structure",
      "members":{
        "Document":{"shape":"DocumentDescription"}
      }
    },
    "DocumentAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DocumentAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DocumentContent":{
      "type":"string",
      "min":1
    },
    "DocumentDescription":{
      "type":"structure",
      "members":{
        "Sha1":{"shape":"DocumentSha1"},
        "Name":{"shape":"DocumentName"},
        "CreatedDate":{"shape":"DateTime"},
        "Status":{"shape":"DocumentStatus"}
      }
    },
    "DocumentFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"DocumentFilterKey"},
        "value":{"shape":"DocumentFilterValue"}
      }
    },
    "DocumentFilterKey":{
      "type":"string",
      "enum":["Name"]
    },
    "DocumentFilterList":{
      "type":"list",
      "member":{
        "shape":"DocumentFilter",
        "locationName":"DocumentFilter"
      },
      "min":1
    },
    "DocumentFilterValue":{
      "type":"string",
      "min":1
    },
    "DocumentIdentifier":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "DocumentIdentifierList":{
      "type":"list",
      "member":{
        "shape":"DocumentIdentifier",
        "locationName":"DocumentIdentifier"
      }
    },
    "DocumentLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DocumentLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DocumentName":{
      "type":"string",
      "min":3,
      "max":64,
      "pattern":"^[a-zA-Z0-9_\\-.]{3,64}$"
    },
    "DocumentSha1":{"type":"string"},
    "DocumentStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Active",
        "Deleting"
      ]
    },
    "DuplicateInstanceId":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicateInstanceId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "FailedCreateAssociation":{
      "type":"structure",
      "members":{
        "Entry":{"shape":"CreateAssociationBatchRequestEntry"},
        "Message":{"shape":"BatchErrorMessage"},
        "Fault":{"shape":"Fault"}
      }
    },
    "FailedCreateAssociationList":{
      "type":"list",
      "member":{
        "shape":"FailedCreateAssociation",
        "locationName":"FailedCreateAssociationEntry"
      }
    },
    "Fault":{
      "type":"string",
      "enum":[
        "Client",
        "Server",
        "Unknown"
      ]
    },
    "GetDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "GetDocumentResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "Content":{"shape":"DocumentContent"}
      }
    },
    "InstanceId":{
      "type":"string",
      "min":10,
      "max":10,
      "pattern":"^(?=.{10}$)(i-(\\w){8})"
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InternalServerError",
        "httpStatusCode":500
      },
      "exception":true
    },
    "InvalidDocument":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidDocument",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidDocumentContent":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "code":"InvalidDocumentContent",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidInstanceId":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidInstanceId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidNextToken":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidNextToken",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ListAssociationsRequest":{
      "type":"structure",
      "required":["AssociationFilterList"],
      "members":{
        "AssociationFilterList":{"shape":"AssociationFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{"shape":"AssociationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsRequest":{
      "type":"structure",
      "members":{
        "DocumentFilterList":{"shape":"DocumentFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsResult":{
      "type":"structure",
      "members":{
        "DocumentIdentifiers":{"shape":"DocumentIdentifierList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MaxDocumentSizeExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MaxDocumentSizeExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "MaxResults":{
      "type":"integer",
      "min":1,
      "max":25
    },
    "NextToken":{"type":"string"},
    "StatusAdditionalInfo":{
      "type":"string",
      "max":1024
    },
    "StatusMessage":{
      "type":"string",
      "max":1024
    },
    "StatusUnchanged":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"StatusUnchanged",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "String":{"type":"string"},
    "TooManyUpdates":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyUpdates",
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "UpdateAssociationStatusRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId",
        "AssociationStatus"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationStatus":{"shape":"AssociationStatus"}
      }
    },
    "UpdateAssociationStatusResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    }
  }
}
