name: e2e tests for flannel

on: pull_request

jobs:
  e2e-test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b #v5.4.0
      with:
        go-version: ^1.23

    - name: Check out code into the Go module directory
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: set up modules
      run: sudo modprobe br_netfilter overlay

    - name: Run tests
      id: testing
      continue-on-error: true
      run: git fetch --unshallow --all --tags && make test 2>&1 > errors.txt

    - name: Show additional logs
      if: steps.testing.outcome != 'success'
      run: |
            cat errors.txt
            exit 1
