name: k3s e2e tests for flannel

on: pull_request

env:
  ARCH: amd64
  GO_VERSION: "1.23"
  KUBECONFIG: ${HOME}/.kube/config

jobs:
  k3s-e2e-tests:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Set up Go 1.x
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b #v5.4.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: set up modules
        run: sudo modprobe br_netfilter overlay

      - name: build flannel image
        run: make image
        
      - name: run e2e tests with k3s
        run: make k3s-e2e-test
