name: k3s e2e tests for flannel

on: pull_request

env:
  ARCH: amd64
  GO_VERSION: "1.24"
  KUBECONFIG: ${HOME}/.kube/config

jobs:
  k3s-e2e-tests:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set up Go 1.x
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: set up modules
        run: sudo modprobe br_netfilter overlay

      - name: build flannel image
        run: make image
        
      - name: run e2e tests with k3s
        run: make k3s-e2e-test
